{% load static %}
<html>
<head>
 <!-- Materialize CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"><!-- Custom CSS --->
 <link href="{% static '/css/sb-admin-2.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">



 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
 <!-- Material icons -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<title>Django</title>
{% if user.is_authenticated %}
<div class="navbar-fixed">
    <nav class="blue">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo center">Rindus test</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/account/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
</div>
{% endif %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</html>